body {
  margin: '0';
  padding: '0';
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.attribute-flexbox,
.app-selector-flexbox,
.comparison-zone {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.attribute-name,
.app-selector-name {
  flex-basis: 20%;
}

.comparison-fighter {
  flex-basis: auto;
}

.attribute-button,
.app-selector-button {
  border: 3px solid #000;
	font-size: inherit;
	color: #000;
	background: none;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.attribute-button:hover,
.attribute-button:active,
.app-selector-button:hover,
.app-selector-button:active {
	color: #fff;
	background: #000;
}

.selected-attribute-button,
.selected-app-button {
  border: 3px solid #000;
  font-size: inherit;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  background: #000;
}

.attribute-title,
.app-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding-top: 5px;
}

table {
  width: 100%;
  border-collapse:collapse
}

th {
  font-weight: 600;
  color: #fff;
  border: 4px solid #000;
  background: #000;
  border: none;
  text-transform: capitalize;
}

tr {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #848587;
}

.unofficial-stat-tables {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.unofficial-stat-table {
  flex-basis: 50%;
  padding: 5px;
}

.ranking-item-selected-stat {
  font-weight: 700;
  font-size: large;
}

.fighter-button {
  border: 3px solid #000;
	font-size: inherit;
	color: #000;
	background: none;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.fighter-button:hover,
.fighter-button:active {
	color: #fff;
  border: 5px;
	background: #000;
}

.selected-fighter-button {
  border: 3px;
  color: #fff;
  cursor: pointer;
  outline: none;
  position: relative;
}

.player-A-label {
  color: #ed2715;
}

.player-B-label {
  color: #173de8;
}

.fighter-a-button {
  background: #ed2715;
}

.fighter-b-button {
  background: #173de8;
}
